.one {
    background-color: #ff99ff;
}

.two {
    background-color: #0000b3;
}

.three {
    background-color: #cccc00;
}

.four {
    background-color: #ff4000;
}

.five {
    background-color: #ffcc80;
}

.six {
    background-color: #4d2500;
}

.seven {
    background-color: #d1b194;
}

.eight {
    background-color: #800000;
}

.nine {
    background-color: #c68c53;
}

.ten {
    background-color: #b30000;
}

.eleven {
    background-color: #e60000;
}

.twelve {
    background-color: #0000cc;
}

.thirteen {
    background-color: #99d6ff;
}