.n1 {
    background-color: #ff99ff;
}

.n2 {
    background-color: #0000b3;
}

.n3 {
    background-color: #cccc00;
}

.n4 {
    background-color: #ff4000;
}

.n5 {
    background-color: #ffcc80;
}

.n6 {
    background-color: #4d2500;
}

.n7 {
    background-color: #d1b194;
}

.n8 {
    background-color: #800000;
}

.n9 {
    background-color: #c68c53;
}

.n10 {
    background-color: #b30000;
}

.n11 {
    background-color: #e60000;
}

.n12 {
    background-color: #0000cc;
}

.n13 {
    background-color: #99d6ff;
}

.n14 {
    background-color: #ff6600;
}

.n15 {
    background-color: #ffb380;
}

.n16 {
    background-color: #33cc33;
}

.n17 {
    background-color: #2874a6;
}

.n18 {
    background-color: #339933;
}

.n19 {
    background-color: #ff0080;
}

.n20 {
    background-color: #006600;
}

.n21 {
    background-color: #75a3a3;
}

.n22 {
    background-color: #1f2e2e;
}

.n23 {
    background-color: #2d8659;
}

.n24 {
    background-color: #660000;
}

.n25 {
    background-color: #cc3399;
}

.n26 {
    background-color: #6600cc;
}