.\1 {
    background-color: #ff99ff;
}

.\2 {
    background-color: #0000b3;
}

.\3 {
    background-color: #cccc00;
}

.\4 {
    background-color: #ff4000;
}

.\5 {
    background-color: #ffcc80;
}

.\6 {
    background-color: #4d2500;
}

.\7 {
    background-color: #d1b194;
}

.\8 {
    background-color: #800000;
}

.\9 {
    background-color: #c68c53;
}

.\10 {
    background-color: #b30000;
}

.\11 {
    background-color: #e60000;
}

.\12 {
    background-color: #0000cc;
}

.\13 {
    background-color: #99d6ff;
}

.\14 {
    background-color: #ff6600;
}

.\15 {
    background-color: #ffb380;
}

.\16 {
    background-color: #33cc33;
}

.\17 {
    background-color: #adebad;
}

.\18 {
    background-color: #339933;
}